<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <style>
        .erro {
             color: red;
             font-size: smaller
        }
        .sucesso {
         color: green;
         font-weight: bold;
        }
    </style>
    <title>Parcelamento de Arrematação</title>
</head>
<body>
<h1>Parcelamento de Arrematação - PGFN</h1>
<hr>
<h2>Incluir SELIC</h2>
<hr>
<form action="{% url 'selic_incluir_na_mao' %}" method="post">
    {% csrf_token %}
    <p>
    <label for="mes">Mês:</label>
    <input type="number" name="mes" id="mes" min="0" max="12" placeholder="1">
    {% if erro_mes %}
        <p class="erro"> {{ erro_mes }} </p>
    {% endif %}
    </p>
    <p>
    <label for="ano">Ano:</label>
    <input type="number" name="ano" id="ano" min="2020" placeholder="2020">
    {% if erro_ano %}
        <p class="erro"> {{ erro_ano }} </p>
    {% endif %}
    </p>
    <p>
    <label for="valor">Valor:</label>
    <input type="number" name="valor" id="valor" min="0.01" placeholder="0.01" step="0.01">
    {% if erro_valor %}
        <p class="erro"> {{ erro_valor }} </p>
    {% endif %}
    </p>
    <button type="submit">Cadastrar</button>
    {% if sucesso %}
    <p class="sucesso" > {{ sucesso }}</p>
    {% endif %}
</form>
</body>
</html>
